{% extends "base_index.html" %}

{% block content %}
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/images/editcarousel5.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Prohibamos la caza de animales.</h5>
                    <p>La caza de animales nos esta dejando sin una parte mas hermosa e inocente del planeta.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/editcarousel3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Evitar la deforestacion del bosque</h5>
                    <p>La tala de árboles está causando estragos en las especies animales. De hecho, muchas de ellas
                        no sobreviven.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/editcarousel4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Evitar la contaminación de los recursos naturales.</h5>
                    <p>La protección de los entornos naturales se vuelve esencial para crear un mundo más habitable
                        y sostenible.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
<h2>Portada</h2>

<div class="row ">
    <div class="col">
        <div class="card shadow-sm ">
            <div class="card-body">
                <h4 class="card-title">Sobre Nosotros.</h4>
                <hr>
                <p class="card-text">En este espacio les presentaremos sobre nosotros y les contaremos de nuestros
                    animales y experiencias con ellos.
                    Somos un grupo animalista que adora que desea contagiar el cuidado de los animales callejeros y
                    domesticos.</p>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="card mb-3 border-0" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4 align-self-center">
                                    <img src="../static/images/Danitza2.JPG"
                                        class="img-fluid rounded-circle img-thumbnail" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Danitza.</h5>
                                        <p class="lh-sm fw-light">Estudiante de Ingenieria en Informatica, admira a los
                                            animales y resguarda el cuidado y adopcioón de ellos. <br>
                                            Tiene 6 mascotas en casa 4 perros, 1 gato y un conejo. <br>
                                            Tambien tiene al cuidado un perro comunitario que es cuidado por ella y sus
                                            vecinos.
                                        <div class="row">
                                            <div class="col">
                                                <i class='fas fa-dove m-3' style='font-size:24px'></i>
                                                <i class='fas fa-dove m-3' style='font-size:24px'></i>
                                                <i class='fas fa-dove m-3' style='font-size:24px'></i>
                                                <i class='fas fa-dove m-3' style='font-size:24px'></i>
                                                <i class='fas fa-dove m-3' style='font-size:24px'></i>
                                            </div>
                                        </div>
                                        </p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="card mb-3 border-0" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Jose Parada.</h5>
                                        <p class="lh-sm fw-light">Estudiante en Ingenieria informatica, adoro mucho los
                                            gatos. Prefiero adoptar animales de la calle.
                                            Tiene 2 gatos, una tortuga de agua y una araña pollito
                                        <div class="row">
                                            <div class="col">
                                                <i class='fas fa-dragon m-3' style='font-size:24px'></i>
                                                <i class='fas fa-dragon m-3' style='font-size:24px'></i>
                                                <i class='fas fa-dragon m-3' style='font-size:24px'></i>
                                                <i class='fas fa-dragon m-3' style='font-size:24px'></i>
                                            </div>
                                        </div>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4 align-self-center">
                                    <img src="../static/images/Jose.jpg" class="img-fluid rounded-circle img-thumbnail"
                                        alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="card mb-3 border-0" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4 align-self-center">
                                    <img src="../static/images/Ale.jpg  " class="img-fluid rounded-circle img-thumbnail"
                                        alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Alejandro Viera.</h5>
                                        <p class="lh-sm fw-light">Soy Alejandro Viera, Estudiante de Ingeniera en
                                            Informática en Duoc Uc.
                                            Amo a los gatos y los perritos. Tengo dos en casa que son muy porfiados pero
                                            igual los amo.
                                        <div class="row">
                                            <div class="col">
                                                <i class='fas fa-spider m-3' style='font-size:24px'></i>
                                                <i class='fas fa-spider m-3' style='font-size:24px'></i>
                                                <i class='fas fa-spider m-3' style='font-size:24px'></i>
                                                <i class='fas fa-spider m-3' style='font-size:24px'></i>
                                            </div>
                                        </div>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card shadow-sm ">

            <div class="card-body">
                <h4 class="card-title">Sobre Animales y tips.</h4>
                <hr>
                <p class="card-text">Existen multitud de animales en nuestro planeta, son los seres vivos con mayor
                    diversidad, de hecho podemos encontrarlos tanto en tierra firme, agua e incluso en el aire. El reino
                    Animal, Animalia o Metazoa es uno de los cinco reinos existentes en nuestra naturaleza; lo conforman
                    un grupo de seres vivos que tienen en común ciertas características similares.</p>
                <div class="row">
                    <div class="col">
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-feather-alt"></i></span>Premia su buen
                                comportamiento.</li>
                            <li><span class="fa-li"><i class="fas fa-feather-alt"></i></span>Visitas al veterinario.
                            </li>
                            <li><span class="fa-li"><i class="fas fa-feather-alt"></i></span>Higiene del animal al día:
                                Orejas, Pelo y Boca.</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-feather-alt"></i></span>Vacunas al dia.</li>
                            <li><span class="fa-li"><i class="fas fa-feather-alt"></i></span>Buena alimentación.
                            </li>
                            <li><span class="fa-li"><i class="fas fa-feather-alt"></i></span>Paseos diarios.</li>
                            <li><span class="fa-li"><i class="fas fa-feather-alt"></i></span>Buena educación.</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-feather-alt"></i></span>Ejercicio fisico.</li>
                            <li><span class="fa-li"><i class="fas fa-feather-alt"></i></span>Esterilización.</li>
                            <li><span class="fa-li"><i class="fas fa-feather-alt"></i></span>Horario de sus necesidades.
                            </li>
                            <li><span class="fa-li"><i class="fas fa-feather-alt"></i></span>Buena dieta.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <i class="fas fa-paw m-3 fa-2x"></i>
                        <i class="fas fa-paw m-3 fa-2x"></i>
                        <i class="fas fa-paw m-3 fa-2x"></i>
                        <i class="fas fa-paw m-3 fa-2x"></i>
                        <i class="fas fa-paw m-3 fa-2x"></i>
                        <i class="fas fa-paw m-3 fa-2x"></i>
                        <i class="fas fa-paw m-3 fa-2x"></i>

                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            <div class="card-body">
                <h4 class="card-title">Animales atendidos y sus opiniones.</h4>
                <hr>
                <div class="row text-center">
                    <div class="col">
                        <div class="card border-0">
                            <img src="../static/images/Michi.JPG" class="card-img-top img-fluid rounded-circle "
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Michi.</h5>
                                <p class="lh-sm fw-light">Los humanos hablaron con mi dueña y cambiaron mis habitos
                                    alimenticios y el como jugaban conmigo, ahora siento que estoy bajando la pansita y
                                    con eso puedo tener mas energia para jugar con mis humanos. PD:Me bajaron mucha
                                    cantidad de comida y la extraño.</p>
                                <p class="card-text"><i class="fas fa-star text-warning"></i><i
                                        class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i
                                        class="fas fa-star text-warning"></i><i class="far fa-star text-warning"></i>
                                    <span class="badge bg-dark">4</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0">
                            <img src="../static/images/Cofy.JPG" class="card-img-top img-fluid rounded-circle"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Cofy</h5>
                                <p class="lh-sm fw-light">Me cortaron mis uñitas, ahora puedo caminar, saltar y correr
                                    mejor. No quisieron jugar conmigo mientras me cortaban las uñitas.</p>
                                <p class="card-text"><i class="fas fa-star text-warning"></i><i
                                        class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i
                                        class="fas fa-star text-warning"></i><i class="far fa-star text-warning"></i>
                                    <span class="badge bg-dark">4</span>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0">
                            <img src="../static/images/Tomy.JPG" class="card-img-top img-fluid rounded-circle"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tomy</h5>
                                <p class="lh-sm fw-light">
                                    Me bañaron y me cortaron el pelo, mis papis no estuvieron en
                                    ese momento y me puse muy triste llore y grite harto, pero cuando me llevaron a casa
                                    vi a mi familia y llore de felicidad.</p>
                                <p class="card-text"><i class="fas fa-star text-warning"></i><i
                                        class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i
                                        class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                                    <span class="badge bg-dark">5</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"></div>
{% endblock %}